.title {
  font-size: 36px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
}

.label {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.field {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
}

/* .error {
  color: rgb(250, 0, 0);
  font-size: 12px;
  position: absolute;
  left: 0px;
  bottom: -18px;
} */

.btn {
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  padding: 8px 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(10, 200, 255);
  transition: background-color 300ms ease;
}

.btn:hover,
.btn:focus {
  background-color: rgb(43, 255, 255);
}

.linkRegister {
  font-size: 18px;
}

.linkHome {
  font-size: 18px;
}
