.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btnDelete {
  padding: 8px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(10, 200, 255);
  transition: background-color 300ms ease;
  margin-left: auto;
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: rgb(43, 255, 255);
}
